<h2>Edit Category</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="CategoryID" value="@Model.CategoryID" />

    <label>Name</label>
    <input name="CategoryName"
           value="@Model.CategoryName"
           class="form-control" />

    <br />

    <button type="submit" class="btn btn-success">Update</button>
</form>
