<h2>Category Management</h2>

<a href="/Category/Create" class="btn btn-primary">Add Category</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td class="table-actions">
                    <a class="table-action-link" href="/Category/Edit/@item.CategoryID">Edit</a>
                    <form asp-action="Delete"
                          asp-route-id="@item.CategoryID"
                          method="post"
                          class="table-action-form">
                        <button type="submit"
                                class="btn btn-link table-action-link">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
