<h2>Create Staff</h2>

<form method="post">

	<label>Name</label>
	<input name="StaffName" class="form-control" />

	<label>Phone</label>
	<input name="Phone" class="form-control" />

	<label>Email</label>
	<input name="Email" class="form-control" />

	<hr />

	<h4>Account</h4>

	<label>Username</label>
	<input name="username" class="form-control" />

	<label>Password</label>
	<input name="password" type="password" class="form-control" />

	<br />

	<button class="btn btn-success">Save</button>

</form>