<script>
    let tableId = "@ViewBag.TableId";
</script>

<h2>Bill</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody id="billItems">
    </tbody>
</table>

<h3>Total: $<span id="billTotal">0</span></h3>

<button onclick="checkout()"
        class="btn btn-success">
    Checkout
</button>

<script src="/js/bill.js"></script>