<h2>Select Payment Method</h2>

<a href="/Payment/Cash?sessionId=@ViewBag.SessionId"
	   class="btn btn-primary">

	Cash Payment

</a>

<a href="/Payment/VNPay?sessionId=@ViewBag.SessionId"
       class="btn btn-danger">
    Pay with VNPay
</a>